.main { 
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    align-items: center;
    padding: 18px 0 120px 0;
}

.title {
    margin: 32px auto 0 auto ;
}

.img {
    margin: 60px auto;
}

.span {
    margin: 8px auto 0 auto;
    color: rgba(133, 133, 173, 1);
}

.number {
    text-shadow: 0 0 5px rgba(51, 51, 255, 0.5),
                 0 0 20px rgba(51, 51, 255, 0.25),
                 0 0 30px rgba(51, 51, 255, 0.25);
    color: rgba(242, 242, 243, 1);
}
