.main { 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img { 
    margin: 0 auto 16px auto;
    width: 480px;
    height: 240px;
}

.spec { 
    display: grid ;
    grid-template-columns: 120px 120px 120px 120px;
    margin: 0 auto;
    gap: 20px;
}

.title { 
    margin: 0 auto 32px auto;
}

.calories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(133, 133, 173, 1);
}

.shell { 
    display: flex;
    max-width: 640px;
    margin: 208px auto 0 auto;    
    flex-direction: column;
}

.mainTitle {
    margin: 0 auto;
    justify-self: center;
}