.title {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: 20px;
}

.secondTitle { 
    margin: 40px 0 24px 0;
}

.secondTitle:first-child {
    margin: 0 0 24px 0;
}

.button {
    margin: 0;
    border: none;
    border-bottom: .5px solid rgba(133, 133, 173, 1);
    background-color: transparent;
    color: rgba(133, 133, 173, 1);
    min-width: 200px;
    padding-bottom: 16px;
    margin: 0 0 40px 0;
}

.list {
    display: grid;
    grid-template-columns: 272px 272px;
    list-style-type: none;
    gap: 24px;
    padding: 0 16px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.price { 
    align-self: center;
    margin: 0 9px 0 0;
    text-align: center;
}

.productPrice {
    display: flex;
    justify-content: center;
    margin: 8px auto ;
}

.productName { 
    text-align: center;
}

.scrollBar {
    height: 664px;
    overflow-y: scroll;
}

.scrollBar::-webkit-scrollbar {
    width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
    
}

.scrollBar::-webkit-scrollbar-track {
    background-color: rgba(47, 47, 55, 1);
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}
