.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    position: relative;
}


::-ms-reveal {
    display: none;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.options {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    justify-content: center;
}

.link {
    color:rgba(76, 76, 255, 1);
    margin: 0 0 16px 0;
}

.subForLink {
    color: rgba(133, 133, 173, 1);
    margin: 0 0 16px 0;
}

.formProfile {
    position: relative;
}

.navProfile {
    position: absolute;
    left: -380px;
    top: 30px;
    max-width: 320px;
}


.buttonProfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    height: 64px;
    text-decoration: none;
    color:rgba(133, 133, 173, 1);

}

.buttonProfile:hover {
    color: rgb(200, 200, 200);
}

.buttonProfileActive{ 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    height: 64px;
    color: white;
    text-decoration: none;
}

.subProfile {
    position: absolute;
    top: 290px;
    left: -380px;
    max-width: 320px;
    color:rgba(133, 133, 173, 1);
    ;
}



