:root {
    --BasicColor: #131316;
};

.main { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button {
    background-color: #1C1C21;
    display: flex;
    flex-direction: row;
    max-width: 197px;
    max-height: 56px;
    color: rgba(133, 133, 173, 1);
    align-items: center;
    border: none;
}

.button:hover {
    color: white;
}
button:first-child { 
    color: white;
}